<html lang="en" xmlns:th="http://www.thymeleaf.com">
    <head th:replace="fragments/general.html :: cabecera(titulo = 'Lista de Mascotas')"></head>
    <body>

        <div class='container'>

            <div id="content">
                <main>
                    <!-- Contenido -->
                    <div class="page-header text-center">
                        <h2>Nuevo Servicio</h2>
                    </div>
                    <div class="container-fluid">
                        <form method="post" th:action="@{'/empleados/guardar'}">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input name="nombre" type="text" class="form-control" id="nombre">
                            </div>

                            <a th:href="@{'/empleados/lista'}" class="btn btn-danger">Cancelar</a>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </form>

                    </div>
                </main>
            </div>

            <footer th:replace="fragments/general.html :: footer"></footer>
        </div>
        <script th:replace="fragments/general.html::footer-bs"></script>
    </body>
</html>