<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/general.html :: cabecera(titulo = 'Lista de Contactos')"></head>
<body>
<div class="container">
    <!--    AQUI ESTARA EL FRAGMENT-->


    <h2 class="pb-2 text-center border-bottom">Lista de Contactos</h2>

    <div class="row">
        <div class="col-2">
            <a class="btn btn-primary mt-4 mb-4" th:href="@{/contacto/newContacto}">Nuevo Contacto</a>
        </div>
        <div class="col-8"></div>
        <div class="col-2">
            <a class="btn btn-primary mt-4 mb-4" th:href="@{'/'}">Retroceder</a>
        </div>
    </div>


    <div class="alert alert-success" role="alert"
         th:if="${msg!=null}" th:text="${msg}">
        A simple success alert—check it out!
    </div>

    <!--    In this part, you can see a table which contain information about each employee-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">id Contacto</th>
            <th scope="col">Cantidad Mascotas</th>
            <th scope="col">Correo</th>
            <th scope="col">Direccion</th>
            <th scope="col">Teléfono</th>
            <th scope="col"></th>

        </tr>

        </thead>

        <tbody>
        <tr th:each="contacto, i : ${listaContacto}">
            <th scope="row" th:text="${i.index +1}">1</th>
            <td th:text="${contacto.contacto}">Mark</td>
            <td th:text="${contacto.mascotas}">Otto</td>
            <td th:text="${contacto.correo}">@mdo</td>
            <td th:text="${contacto.direccion}">Otto</td>
            <td th:text="${contacto.telefono}">@mdo</td>
            <td>
                <a class="btn btn-danger" th:href="@{'/contacto/verMas?id='+${contacto.contacto}}">
                    Ver más
                </a>
            </td>

        </tr>
        </tbody>
    </table>

    <footer th:replace="fragments/general.html :: footer"></footer>


</div>
<script th:replace="fragments/general.html::footer-bs"></script>

</body>
</html>