<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Empleado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</head>
<body class="container">

<h2>Nuevo Contacto</h2><hr />
<form method="post" th:action="@{'/contacto/save'}">

<!--    <input type="text" class="form-control"-->
<!--           value="id" hidden-->
<!--           name="id">-->

    <div class="row">
        <div class="form-group col-6">
            <label for="correo">Correo</label>
            <input type="text" class="form-control" name="correo" id="correo">
        </div>
        <div class="form-group col-6">
            <label for="password">Password</label>
            <input type="text" class="form-control" name="password" id="password">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-6">
            <label for="direccion">Dirección</label>
            <input  type="text" class="form-control" name="direccion" id="direccion">
        </div>
        <div class="form-group col-6">
            <label for="telefono">Telefono</label>
            <input  type="text" class="form-control" name="telefono" id="telefono">
        </div>
    </div>


    <a th:href="@{'/contacto/listaContacto'}" class="btn btn-danger">Cancelar</a>
    <button type="submit" class="btn btn-primary">Registrar</button>

    <div class="row">
        <div class="form-group"></div>
    </div>

</form>
</body>
</html>