<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/general.html :: cabecera(titulo = 'Lista de Mascotas')"></head>
    <body>
        <div class="container">
            <h2 class="pb-2 text-center border-bottom">Detalle de servicios</h2>
            <h5 class="pb-2" th:text="'Nombre: '+ ${mascota.nombre}"></h5>
            <h5 class="pb-2 border-bottom" th:text="'Edad: '+ (2022 - ${mascota.anho})"></h5>
            <a class="btn btn-primary mt-4 mb-4" th:href="@{'/servicio/nuevo?idmascota='+${mascota.id}+'&idcuenta='+${mascota.cuenta.id}}">Nuevo Servicio</a>
            <a class="btn btn-outline-secondary mt-4 mb-4" th:href="@{/mascota/lista}">Regresar</a>

            <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Hora de Inicio</th>
                        <th>Duración</th>
                        <th>Entrega</th>
                        <th>Responsable</th>
                        <th>Servicio</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="servicio : ${listaServicio}">
                        <td th:text="${servicio.getHorainicio()}"></td>
                        <td th:text="${servicio.getDuracion()}"></td>
                        <td th:text="${servicio.getEntrega()}"></td>
                        <td th:text="${servicio.getResponsable()}"></td>
                        <td th:text="${servicio.getDescripcion()}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script th:replace="fragments/general.html::footer-bs"></script>
    </body>
</html>